* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* PAGE D'ACCUEIL */

.body_index {
    background-image: url("../images/fond.png");
    background-size: cover;
    font-family: "Neusa Next Std", "Arial Black", Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.page_accueil {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #515C6F;
}

.logo_page_accueil {
    width: 18em;
}

.choix_campus_page_accueil,
.dropdown_page_accueil {
    margin-top: 3%;
}

.btn-secondary {
    background-color: #515C6F;
}

/* DEUXIEME PAGE D'ACCUEIL */

.body_bdecesicampus {
    background-color: #F6F6F6;
    font-family: "Neusa Next Std", "Arial Black", Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background: linear-gradient(to right, #FFFFFF, #EAEAEA);
}

.navbar-brand {
    color: #5A87DD !important;
}

.image_soiree {
    width: 100%;
}

.footer_bdecesicampus {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 2em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A87DD;
    background: #F6F6F6;

}

.footer_bdecesicampus p {
    align-items: center;
}

.sociaux {
    display: flex;
    list-style-type: none;
    min-width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.footer_bdecesicampus ul li img {
    width: 50%;
}
