* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* PAGE D'ACCUEIL */

.body_index,
.body_connexion {
    background-image: url("../images/fond.png");
    background-size: cover;
    font-family: "Neusa Next Std", "Arial Black", Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.page_accueil {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #515C6F;
}

.logo_page_accueil {
    width: 18em;
}

.choix_campus_page_accueil,
.dropdown_page_accueil {
    margin-top: 3%;
}

.btn-secondary {
    background-color: #515C6F;
}

/* DEUXIEME PAGE D'ACCUEIL */

.body_bdecesicampus {
    background-color: #F6F6F6;
    font-family: "Neusa Next Std", "Arial Black", Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background: linear-gradient(to right, #FFFFFF, #EAEAEA);
}

.navbar-brand {
    font-weight: 500;
    color: #5A87DD !important;
}

.main_bdecesicampus {
    flex-grow: 1;
}

.image_soiree {
    position: relative;
    width: 100%;
}

.text_sur_image_bdecesicampus {
    position: absolute;
    top: 25%;
    margin-left: 5%;
    font-family: "True Lies", "Neusa Next Std", Arial, Verdana, sans-serif;
    color: white;
}

.text_sur_image_bdecesicampus h1 {
    font-size: 4em;
}

ul.voir_plus_bdecesicampus li {
    position: absolute;
    top: 48%;
    margin-left: 80%;
    font: 1rem 'Fira Sans', sans-serif;
    display: block;
    padding: 1em;
    color: rgb(50, 57, 70);
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    cursor: pointer;
    border: 2px solid #F4AB25;
    border-radius: 10px;
    text-align: center;

}

ul.voir_plus_bdecesicampus a {
    text-decoration: none;
}

ul.voir_plus_bdecesicampus li:hover {
    background-color: #F4AB25;
    color: cornsilk;
}

ul.voir_plus_bdecesicampus li:active {
    border: none;
    background-color: rgb(50, 57, 70);
    color: cornsilk;
}

.footer_bdecesicampus {
    /* position: absolute;
    width: 100%;
    bottom: 0; */
    font-size: 2em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A87DD;
    background: #F6F6F6;

}

.footer_bdecesicampus p {
    min-width: 100%;
    align-items: center;
    text-align: center;
}

.sociaux {
    display: flex;
    list-style-type: none;
    text-align: center;
}

.footer_bdecesicampus ul li img {
    width: 50%;
}


/* PAGE CONNEXION & INSCRIPTION */

.titre_connexion {
    text-align: center;
    color: #515C6F;
    font-weight: bold;
    font-size: 4em;
}

#login {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form_connex {
    color: #515C6F;
    min-width: 40%;
    background: white;
    overflow: hidden;
    margin-top: 5%;
}

.uname,
.youpasswd {
    min-width: 55%;
    opacity: 0.5;
    padding-top: 2%;
    text-align: left;
}

#username,
#password {
    color: #515C6F;
    caret-color: #FF6969;
    width: 70%;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form_connex i {
    min-width: 15%;
    text-align: left;
}

.button_connex input {
    font-weight: bold;
    margin-top: 20%;
    background: #F4AB25;
    color: white;
    border-radius: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border: none;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.button_connex input:hover {
    background: #515C6F;
}
.button_connex input:active {
    background: rgb(35, 40, 48);
}


/* PAGE CONNEXION ECHOUEE */

.titre_echouee {
    text-align: center;
    color: #CE4141;
    font-weight: bold;
    font-size: 4em;
}

.message_echouee {
    margin-top: 5%;
    font-weight: 300;
    color: #5A87DD;
    font-size: 2em;
}


@media screen and (max-width: 1024px) {

    .navbar-brand {
        font-size: 0.9em;
    }

    .image_soiree {
        display: none;
    }

    .text_sur_image_bdecesicampus {
        position: relative;
        margin-top: 10%;
        margin-left: 3%;
        color: #515C6F;
    }

    .text_sur_image_bdecesicampus h1 {
        font-size: 2em;
    }

    ul.voir_plus_bdecesicampus li {
        position: relative;
        /* width: 20%; */
        margin-top: 10%;
        margin-left: 50%;
        margin-right: 10%;
        text-align: center;
    }

}

@media screen and (max-height: 380px) {
    .image_soiree {
        display: none;
    }

    .text_sur_image_bdecesicampus {
        position: relative;
        margin-top: 20%;
        margin-left: 3%;
        color: #515C6F;
    }

    ul.voir_plus_bdecesicampus li {
        position: relative;
        margin-top: 20%;
        margin-left: 3%;
        color: #515C6F;
    }
}