body {
    background-image: url("../images/fond.png");
    background-size: cover;
    font-family: "Neusa Next Std", "Arial Black", Arial, Verdana, sans-serif;
}

/* PAGE D'ACCUEIL */
.page_accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #515C6F;
}

.logo_page_accueil {
    margin-top: 10%;
    width: 18em;
}

.choix_campus_page_accueil,
.dropdown_page_accueil {
    margin-top: 3%;
}

.btn-secondary {
    background-color: #515C6F;
}

/* DEUXIEME PAGE D'ACCUEIL */

.navbar {
    background: linear-gradient(to right, #FFFFFF, #EAEAEA);
}

.navbar-brand {
    color: #5A87DD !important;
}

.image_soiree {
    width: 100%;
}

footer {
    font-size: 2em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #5A87DD;
    background: #F6F6F6;

}

.sociaux {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.fb {
    width: 50%;
}
.insta {
    width: 50%;
}
.youtube {
    width: 50%;
}