.container
{
    display: flex;
    flex-direction: column;
}

.events
{
    display: flex;
    justify-content: space-evenly;
}

.products
{
    display: flex;
    justify-content: space-evenly;
}

.flags
{
    display: flex;
    justify-content: center;
}

.articles
{
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    color: #F4AB25;
    background-color: #515C6F;
    max-width: 50%;
    margin-left: 25%;
}
h2 {
    color: #515C6F;
}

body {
    background-image: url("../assets/images/fond.png");
    background-size: cover;
    font-family: "Neusa Next Std", "Arial Black", Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.wrapper { 
    color: black;
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }